<div class="row">
  <div class="col-sm-12">
    <h4>Slide #<%= slideIndex + 1 %></h4>
  </div>
  <% _.each(new Array(slideImageLength), function(undf, index) { %>
  <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="form-group">
      <div><label>Image #<%= index + 1 %></label></div>
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <!--
              <img data-src="" alt="Select an image" />
              -->
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="slide_image_<%= slideIndex + '_' + index %>" required data-parsley-file-type="^image/.*"></span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>
